<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Du lịch</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--image style-->
    <link rel="stylesheet" href="/css/index-style.css" type="text/css">
    <!--Footer and nav style-->
    <link rel="stylesheet" href="/css/footer-nav-headerCSS.css">
    <!--This page style-->
    <link rel="stylesheet" href="/css/guest/cata-style.css">
    <link rel="stylesheet" href="/css/Chitietbaiviet/styleChiTietBaiViet.css">
</head>
<body>

    <%- include('../header-footer/header.ejs') %>

    <!-- ### Cata menu ### -->
    <section class="cata-menu">
        <div class="container">
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="start">
                        <h4>
                            <a href="#">Đời sống</a>
                        </h4>
                    </li>
                    <li>
                        <h4>
                            <a href="#">Du lịch</a>
                        </h4>
                    </li>
                </ul>
            </div>
        </div> 
    </section>
<div class="panel-body backgroundcolor">
        <!-- ảnh đại diện cho tin tức -->
        <div class="image_main">
            <%- chitietbaiviet.ImageAbstract%>
        </div>
        
        <div class="center-block noidung">
            <!-- nội dug của tin tức -->
            <div>
                <h1><a href="#"><b><%= chitietbaiviet.Title%>  Chuyện tình nữ đại gia yêu trai trẻ gây chú ý trên màn ảnh Việt</b></a></h1>
                <br>
                <div>
                    <%- chitietbaiviet.Content%>
                </div>
                <span class="d-flex flex-row-reverse m-3 p-3"> <%= chitietbaiviet.WriterName%> </span>
            </div>

            <div class="center-block hagtag w-100">
                <h3><a href="" class="tagitem">#Bình An</a></h3>
                <h3><a href="" class="tagitem">#Những cô gái trong thành phố</a></h3>
                <h3><a href="" class="tagitem">#Ngọc Crystal</a></h3>
                <h3><a href="" class="tagitem">#Phi công trẻ</a></h3>
                <h3><a href="" class="tagitem">#Bình An đóng phi công trẻ</a></h3>
                <h3><a href="" class="tagitem">#Phim việt nam</a></h3>
            </div>

        </div>
        <!-- các bài viết liên quan. -->

        <div class="center-block styleBaiLienQuan">
            <ul class="name">
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
                <li style="display: inline-block;">
                    <div class="card" style="width: 17rem;">
                        <a href=""><img width="250" height="250" class="card-img-top" src="../images/1.jpg"
                                alt="Card image cap"></a>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <a href="" class="card-text">Some quick example text to build on the card title and make
                                up the bulk of the card's content.</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- nhận xét của người dùng. -->
        <div class="center-block container">
            <div class="row bootstrap snippets">
                <div class="col-md-12 col-md-offset-2 col-sm-12">
                    <div class="comment-wrapper">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                Comment panel
                            </div>
                            <div class="panel-body">
                                <textarea id="ContentComment" class="form-control" placeholder="write a comment..." rows="3"></textarea>
                                <br>
                                <button type="button" id="sentComment" class="btn btn-info float-right">Post</button>
                                
                                <div class="clearfix"></div>
                                <hr>
                                <ul class="media-list" id="myList">
                                <% for( let index = 0; index < comment.length; index++ ) { %>
                                    <li class="media">
                                        <a class="pull-left">
                                            <img src="<%if(comment[index].UserID==null){%> https://bootdey.com/img/Content/user_1.jpg <% } else { %> <%=comment[index].Photo%> <%}%> "
                                                class="img-circle">
                                        </a>
                                        <div class="media-body ml-4">
                                            <strong class="text-success"><%if(comment[index].UserID == null){%> NoName <% } else { %> <%=comment[index].FullName%> <%}%></strong>
                                            <p>
                                                <%=comment[index].Content%>
                                            </p>
                                        </div>
                                    </li>
                                <% } %>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <%- include('../header-footer/footer.ejs')%>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#sentComment").click(function(){
                var cmt = $("#ContentComment").val();
                var idP = "<%=chitietbaiviet.ID%>";
                // xu li ajax luu cmt.
                $.post('/chitietbaiviet/cmt',{"PostID": idP, "Content": cmt},(data,status)=>{
               
                    if(status=='success'){
                        // add cmt
                        
                        var ulCmt = document.getElementById('myList');
                        var licmt = document.createElement('LI');
                        licmt.setAttribute("class","media");
                        ulCmt.appendChild(licmt);
                        var acmt = document.createElement('a');
                        acmt.setAttribute("class", "pull-left");
                        licmt.appendChild(acmt);

                        var img = document.createElement('img');
                        img.setAttribute("class", "img-circle");
                        <%if(!user){%>
                            img.setAttribute("src", "https://bootdey.com/img/Content/user_1.jpg");
                        <% } else { %>
                            img.setAttribute("src", "<%=user.Photo%>");
                        <%}%>
                        acmt.appendChild(img);

                        var div = document.createElement('DIV');
                        div.setAttribute('class', 'media-body ml-4');
                        licmt.appendChild(div);
                        var strong = document.createElement('strong');
                        strong.setAttribute("class", "text-success");
                        div.appendChild(strong);
                        <%if(!user){%>
                            strong.innerHTML = "NoName"
                        <% } else { %>
                            strong.innerHTML = "<%=user.FullName%>"
                        <%}%>
                        var p = document.createElement('p');
                        div.appendChild(p);
                        p.innerHTML= cmt;
                        // end add cmt.
                    }
                })

            });
        });
    </script>
</body>
</html>