<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile-Writer</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link href="/css/editor/editor-style.css" rel="stylesheet">
    <link href="/css/writer/profile-writerCSS.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="page">
            <%- include('../logout/writer/form.ejs') %>
            <%- include('../header-footer/header-writer.ejs') %>
            <section id="page-main-content">
                <%- include('../logout/writer/header-hori.ejs') %>
            <div id="content">
                <h1>
                    Danh sách các bài viết
                </h1>
                <hr>
                <form class="d-flex flex-row content-form-view">
                    <div class="col-12 container">
                        <ul class="media-list">
                            <% for( let index = 0; index < rows.length; index++ ) { %>
                                <div class="row">
                                    <div class="col-8">
                                        <li class="media">
                                            <a href="#">
                                                <a class="pull-left" href="#">
                                                    <img alt="" class="img-circle"
                                                        src="https://bootdey.com/img/Content/user_1.jpg">
                                                    <p>
                                                        Khoa Học
                                                    </p>
                                                </a>
                                                <div class="media-body">
                                                    <span class="text-muted pull-right">
                                                        <small class="text-muted">
                                                            Thời gian đăng
                                                        </small>
                                                    </span>
                                                    <strong class="text-success">
                                                        <%=rows[index].Title%>
                                                    </strong>
                                                    <p>
                                                        <%=rows[index].Abstract%>
                                                    </p>
                                                </div>
                                            </a>
                                        </li>
                                    </div>
                                    <span class="col-4">
                                        <a href="#" role="button">
                                            <i class="fas fa-file">
                                            </i>
                                        </a>
                                    </span>
                                </div>
                            <% } %>
                        </ul>
                    </div>
                </form>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/css/editor/main.js"></script>
</body>

</html>