<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile-Writer</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" type="text/css" href="/css/writer/profile-writerCSS.css">
</head>
<body>
    <div id="page">
            <%- include('../logout/writer/form.ejs') %>
            <%- include('../header-footer/header-writer.ejs') %>
            <section id="page-main-content">
                <%- include('../logout/writer/header-hori.ejs') %>
            <div id="content">
                <h1>Trang cá nhân</h1>
                <hr>
                <div class="d-flex flex-row content-form-view">
                    <div class="col-md-12">
                        <%# imgage profile %>
                        <form  action="/uploadImage" method="post" id="formUpload" enctype="multipart/form-data">
                            <input type="hidden" id="userID" value="<%=user.ID%>">
                            <input class="inputfile inputfile-4" type="file" name="imgProfileFile" id="profile-img" style="display: none;">
                            <label id="fileN" style="display: none;"></label>
                            <div id="content-form-img">
                                <div id="profile-picture">
                                    <img id="profile-img-tag" src="<%=user.Photo%>" >
                                </div>
                                <div class="js-group-edit-img">
                                    <a href="#" class="form-a-edit w-75 js-edit-i"><label for="profile-img">Edit</label></a>
                                </div>
                                <div class="js-group-sc-img class-disable">
                                    <a href="javascript: saveImageProfile()" class="form-a-save w-50 pr-3 js-save-i">Save</a>
                                    <a href="javascript:  $('#profile-img-tag').attr('src', '<%=user.Photo%>');" class="form-a-cancel w-50 js-cancel-i">Cancel</a>
                                </div>                            
                            </div>
                        </form>
                        <%# end image profile %>

                        <div class="form-group col-md-12 row form-disable">
                            <label for="inputHoTen" class="col-sm-2 col-form-label">Họ tên:</label>
                            <input type="text" class="input-feild col-md-8" id="inputHoTen" 
                            value="<%=user.FullName%>" disabled>
                            <div class="js-group-edit col-md-2">
                                <a href="#" class="form-a-edit w-75 js-edit">Edit</a>
                            </div>
                            <div class="col-md-2 js-group-sc class-disable">
                                <a href="javascript: saveFullName()" class="form-a-save w-50 pr-3 js-save">Save</a>
                                <a href="javascript: $('#inputHoTen').val('<%=user.FullName%>')" class="form-a-cancel w-50 js-cancel">Cancel</a>
                            </div>
                        </div>
                        
                        <div class="form-group col-md-12 row form-disable">
                            <label for="inputButDanh" class="col-sm-2 col-form-label">Bút danh:</label>
                            <input type="text" class="input-feild col-md-8" id="inputButDanh" 
                            value="<%=WriterName.WriterName%>" disabled>
                            <div class="js-group-edit col-md-2">
                                <a href="#" class="form-a-edit w-75 js-edit">Edit</a>
                            </div>
                            <div class="col-md-2 js-group-sc class-disable">
                                <a href="javascript: saveButDanh()" class="form-a-save w-50 pr-3 js-save">Save</a>
                                <a href="javascript: $('#inputHoTen').val('<%=user.FullName%>')" class="form-a-cancel w-50 js-cancel">Cancel</a>
                            </div>
                        </div>

                        <div class="form-group col-md-12 row form-disable">
                            <label for="inputEmail" class="col-sm-2 col-form-label">Email liên lạc:</label>             
                            <input type="email" class="input-feild col-md-8" id="inputEmail" 
                            value="<%=user.Email%>" disabled>
                            <div class="js-group-edit col-md-2 js-an">
                                <a href="#" class="form-a-edit w-75 js-edit">Edit</a>
                            </div>
                            <div class="col-md-2 js-group-sc class-disable">
                                <a href="javascript: saveEmail()" class="form-a-save w-50 pr-3 js-save">Save</a>
                                <a href="javascript: $('#inputEmail').val('<%=user.Email%>')" class="form-a-cancel w-50 js-cancel">Cancel</a>
                            </div> 
                        </div>

                        <div class="col-md-12 row form-disable">
                            <legend class="col-form-label col-sm-2">Ngày sinh:</legend>
                            <div class="date-edit custom-control-inline col-md-7 class-disable row">
                                <select class="col-md-2 custom-select mr-3" id="day"></select>

                                <select class="col-md-2 custom-select mr-3" id="month"></select>

                                <select class="col-md-2 custom-select" id="year"></select>
                            </div> 
                            <input type="text" class=" col-md-8" id="showDate" value="<%=user.DoB%>" disabled>
                            <div class="js-group-edit-date col-md-2">
                                <a href="#" class="form-a-edit w-75 js-edit-date">Edit</a>
                            </div>
                            <div class="col-md-2 js-group-sc-date class-disable custom-control-inline">
                                <a href="#" class="form-a-save w-50 pr-3 js-save-date">Save</a>
                                <a href="#" class="form-a-cancel w-50 js-cancel-date">Cancel</a>
                            </div>
                        </div>           
                    </div>              
                </div>
            </div>
        </section>
    </div>
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Main Script-->
    <script src="/js/editor/main.js"></script>
    <script src="/js/admin/getNameImg.js"></script>
    <script src="/js/writer/profile-writerJS.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $( ".js-edit" ).each(function( index ) {
                $(this).click(function(e){
                    $('.input-feild').eq(index).prop('disabled',false);
                    $('.js-group-edit').eq(index).addClass('class-disable');
                    $('.js-group-sc').eq(index).addClass('class-enable');
                    $('.js-group-sc').eq(index).removeClass('class-disable');
                })
            }); 
            $( ".js-save" ).each(function( index ) {
                $(this).click(function(e){
                    $('.input-feild').eq(index).prop('disabled',true);
                    $('.js-group-edit').eq(index).addClass('class-enable');
                    $('.js-group-edit').eq(index).removeClass('class-disable');
                    $('.js-group-sc').eq(index).removeClass('class-enable');
                    $('.js-group-sc').eq(index).addClass('class-disable');
                })
            }); 
            $( ".js-cancel" ).each(function( index ) {
                $(this).click(function(e){
                    $('.input-feild').eq(index).prop('disabled',true);
                    $('.js-group-edit').eq(index).addClass('class-enable');
                    $('.js-group-edit').eq(index).removeClass('class-disable');
                    $('.js-group-sc').eq(index).removeClass('class-enable');
                    $('.js-group-sc').eq(index).addClass('class-disable');
                })
            }); 
            $('.js-edit-date').click(function(e){
                $('#showDate').addClass('class-disable');
                $('.date-edit').addClass('class-enable');
                $('.date-edit').removeClass('class-disable');
                $('.js-group-edit-date').addClass('class-disable');
                $('.js-group-sc-date').addClass('class-enable');
                $('.js-group-sc-date').removeClass('class-disable');
            });
            $('.js-save-date').click(function(e){
                $('.date-edit').addClass('class-disable');
                $('.date-edit').removeClass('class-enable');
                $('#showDate').addClass('class-enable');
                $('#showDate').removeClass('class-disable');
                $('.js-group-edit-date').removeClass('class-disable');
                $('.js-group-edit-date').addClass('class-enable');
                $('.js-group-sc-date').addClass('class-disable');
                $('.js-group-sc-date').removeClass('class-enable');
            });
            $('.js-cancel-date').click(function(e){
                $('.date-edit').removeClass('class-enable');
                $('.date-edit').addClass('class-disable');
                $('#showDate').addClass('class-enable');
                $('#showDate').removeClass('class-disable');
                $('.js-group-edit-date').removeClass('class-disable');
                $('.js-group-edit-date').addClass('class-enable');
                $('.js-group-sc-date').addClass('class-disable');
                $('.js-group-sc-date').removeClass('class-enable');
            });

            //  is image profile
            $( ".js-edit-i" ).each(function( index ) {
                $(this).click(function(e){
                    $('.js-group-edit-img').eq(index).addClass('class-disable');
                    $('.js-group-sc-img').eq(index).addClass('class-enable');
                    $('.js-group-sc-img').eq(index).removeClass('class-disable');
                })
            }); 
            $( ".js-save-i" ).each(function( index ) {
                $(this).click(function(e){
                    $('.js-group-edit-img').eq(index).addClass('class-enable');
                    $('.js-group-edit-img').eq(index).removeClass('class-disable');
                    $('.js-group-sc-img').eq(index).removeClass('class-enable');
                    $('.js-group-sc-img').eq(index).addClass('class-disable');
                })
            }); 
            $( ".js-cancel-i" ).each(function( index ) {
                $(this).click(function(e){
                    $('.js-group-edit-img').eq(index).addClass('class-enable');
                    $('.js-group-edit-img').eq(index).removeClass('class-disable');
                    $('.js-group-sc-img').eq(index).removeClass('class-enable');
                    $('.js-group-sc-img').eq(index).addClass('class-disable');
                })
            }); 

            // add anh
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    
                    reader.onload = function (e) {
                        $('#profile-img-tag').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#profile-img").change(function(){
                readURL(this);
            });
        })
        
    </script>

    <script>
        // function save img
        function saveImageProfile(){
            var name = document.getElementById('fileN').innerHTML;
            var id = document.getElementById('userID').value;
            $.post('/writer/update/profile-writer',{"ID": id, "Photo": "/upload/"+name},(data,status)=>{
                if(status !='success'){
                    alert('Lỗi database!!');
                }
            })
            $('#formUpload').submit();
        }
        // function save full name
        function saveFullName(){
            var name = $('#inputHoTen').val();
            var id = '<%=user.ID%>';
             $.post('/writer/update/profile-writer',{"ID": id, "FullName": name},(data,status)=>{
                if(status !='success'){
                    alert('Lỗi database!!');
                }
            })
        }

        // save but danh 
        function saveButDanh(){
            var name = $('#inputButDanh').val();
            var id = '<%=user.ID%>';
             $.post('/writer/updateW/profile-writer',{"UserID": id, "WriterName": name},(data,status)=>{
                if(status !='success'){
                    alert('Lỗi database!!');
                }
            })
        }

        // function save email
        function saveEmail(){
            var name = $('#inputEmail').val();
            var id = '<%=user.ID%>';
             $.post('/writer/update/profile-writer',{"ID": id, "FullName": name},(data,status)=>{
                if(status !='success'){
                    alert('Lỗi database!!');
                }
            })
        }
    </script>
</body>

</html>