<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Writer</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--StyleSheet-->
    <link href="/css/editor/editor-style.css" rel="stylesheet">
    <link href="/css/writer/profile-writerCSS.css" rel="stylesheet" type="text/css">

</head>

<body>
    <div id="page">
        <%- include('../header-footer/header-writer.ejs') %>
        <section id="page-main-content">
            <div class="head-content row">
                <div class="col-md-12 text-right my-auto">

                    <a class="head-item" href="profile-writer.html">
                        <img src="../images/account.png" />
                    </a>
                    <a class="head-item" href="../index.html">
                        <span>
                            Đăng xuất
                        </span>
                        <i class="fas fa-sign-out-alt">
                        </i>
                    </a>
                </div>
            </div>
            <div id="content">
                <h1>
                    Bài viết mới
                </h1>
                <hr>
                <form class="d-flex flex-row content-form-view" action="/writer/add" method="post">
                    <div class="col-12">
                        <br>
                        <div class="col-xs-4 col-md-12 form-group row">
                            <div class="controls col-6">
                                <select class="custom-select" id="CatIDFather">
                                    <option>
                                        Chọn chuyên mục
                                    </option>
                                    <% for( let index = 0; index < categories.length; index++ ) { %>
                                        <option value="<%=categories[index].ID%>">
                                            <%= categories[index].CatName%>
                                        </option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="controls col-6">
                                <select class="custom-select" id="CatID" name="CatID">
                                    <option selected="selected">
                                        Chọn chuyên mục
                                    </option>                                   
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-12 form-group">
                            <label for=""> Anh dai dien </label>
                            <textarea name="ImgMain" id="ImgMain"></textarea>
                        </div>
                        <br>
                        <div class="col-xs-4 col-md-12 form-group">
                            <div class="controls">
                                <input class="form-control" id="inputendereco" name="Title"
                                    placeholder="Nhập Tiêu Đề Bài Viết." type="text">

                            </div>
                        </div>
                        <div class="col-xs-4 col-md-12 form-group">
                            <div class="controls">
                                <input class="form-control" id="inputendereco" name="Abstract"
                                    placeholder="Tóm Tắt Nội Dung Bài Viết." type="text">

                            </div>
                        </div>
                        <!-- input textarea -->
                        <div class="col-xs-4 col-md-12 form-group">
                            <textarea name="Content" id="Content"></textarea>
                        </div>
                        <div class="row">
                            <div class="col-7 col-lg-7 col-sm-7 input-group-prepend left ml-3">
                                <div class="input-group-text">
                                    <input aria-label="Checkbox for following text input" id="check" type="checkbox" >
                                    <label class="check_label ml-2">Tôi đồng ý với các điều khoản bên bạn.</label>
                                </div>
                            </div>
                            <div class="col-3 col-lg-3 col-sm-3 btn btn-group float-right">
                                <%# <a aria-pressed="true" class="btn btn-primary btn-lg active ml-auto" href="#"
                                    type="submit">
                                    Gữi Bài Viết
                                </a> %>
                                <button class="btn btn-danger ml-3" type="submit">
                                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                                    gữi bài viết 
                                </button>
                            </div>
                        </div>
                        <br>
                    </div>

                </form>
            </div>
        </section>
    </div>
        <script src="/js/writer/ckeditor/ckeditor.js"></script> 
        <script type="text/javascript">
            CKEDITOR.replace('Content', {
                "extraPlugins" : 'imagebrowser',
		        "imageBrowser_listUrl" : "/files"
            });
            CKEDITOR.replace('ImgMain', {
                "extraPlugins" : 'imagebrowser',
                "imageBrowser_listUrl" : "/files",
                toolbar:[
                    {name: 'insert', items: ['Image']}
                ]
            });
        </script>
        <script>
            document.getElementById("CatIDFather").addEventListener("change", addOption, false);
            
            function addOption(){
                var CatIDFater = document.getElementById("CatIDFather").value;
                var select = $('#CatID');
                $('option',select).remove();

                <% for(let i = 0; i< CatChild.length; i++){ %>
                if (CatIDFater==<%=CatChild[i].SuperCatID%>) {
                    
                        select.append(new Option('<%= CatChild[i].CatName %>', '<%= CatChild[i].ID %>', true, false));
                }
                <% } %>
            }

            window.addEventListener("load", start, false);
        </script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>