<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Editor - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="../fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
    <link rel="stylesheet" href="/css/admin/bootstrap-tagsinput.css">
    <!--Ckeditor-->
    <script src="/js/writer/ckeditor/ckeditor.js"></script> 
    <script src="/js/editor/jquery.min.js"></script> <!-- cai nay chua add-->
    <script src="/js/admin/bootstrap-tagsinput.min.js"></script>
    <script src="/js/editor/jquery.min.js"></script>
    <style>
        .bootstrap-tagsinput {
            min-height: 0 !important;
            margin-left: 16px !important;
            margin-top: 16px !important;
        }
    </style>
</head>

<body>
    <div id="page">
        
         <%- include('../header-footer/header-admin.ejs') %>

        <section id="page-main-content">
            <!--Head content-->
            <div class="head-content row">
                <div class="col-md-12 text-right my-auto">
                    <a href="profile-admin.html" class="head-item"><img src="../images/account.png"></a>
                    <a href="../index.html" class="head-item">
                        <span>Đăng xuất</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-5">
                            <form method="post">
                                <input type="hidden" class="form-control" name="ID" value="<%=post.ID%>">
                                <div class="card-header">
                                    <div id="tool-button" class="d-flex">
                                        <button type="submit" class="btn btn-sm ml-3 btn-primary" formaction="/admin/save/baiviet">
                                            <i class="far fa-save"></i>
                                            <span> Save</span>
                                        </button>
                                        <button type="submit" class="btn btn-sm ml-3 clickable-row" formaction="/admin/saveClose/baiviet">
                                            <i class="fas fa-check"></i>
                                            <span> Save & Close</span>
                                        </button>
                                        <button type="submit" class="btn btn-sm ml-3 clickable-row" formaction="/admin/saveNew/baiviet">
                                            <i class="fas fa-plus"></i>
                                            <span> Save & New</span>
                                        </button>
                                        <button type="submit" class="btn btn-sm ml-3" formaction="/admin/delete/baiviet">
                                            <i class="fas fa-trash"></i>
                                            <span> Delete</span>
                                        </button>
                                    </div>
                                    <div class="d-flex mt-3">
                                    <%# post status %>
                                        <select id="PostStatus" name="PostStatus" class="custom-select-md ml-3">
                                            <option>Chọn trạng thái bài viết</option>
                                            <option value="1" <% if (post.PostStatus===1) { %> selected <% } %> >Đã xuất bản</option> <%# 1 xuat ban 0 chua xuat ban -1 tu choi%>
                                            <option value="0" <% if (post.PostStatus===0) { %> selected <% } %> >Chưa xuất bản</option> 
                                            <option value="-1" <% if (post.PostStatus===-1) { %> selected <% } %> >Đã từ chối</option> 
                                        </select>   
                                        <%# CatID %>
                                        <select id="CatID" name="CatID" class="custom-select-md ml-3">
                                            <option>Chọn chuyên mục bài viết</option>
                                            <% for( let index = 0; index < Cat.length; index++ ) { %>
                                                <option value="<%=Cat[index].ID%>" <% if (Cat[index].ID===post.CatID) { %> selected <% } %> ><%=Cat[index].CatName%></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <label for="article-title" class="col-2 ml-3">Tiêu đề</label>
                                        <input value="<%=post.Title%>" type="text" name="Title" placeholder="Title"
                                            class="col-8 form-control ml-3">
                                    </div>

                                    <div class="row align-items-center mt-3">
                                        <label for="article-title" class="col-2 ml-3">Danh Sách Tag.</label>
                                        <div class="bootstrap-tagsinput col-8 form-control ml-3">
                                            <% for( let index = 0; index < Tag.length; index++ ) { %>
                                                <span class="tag label label-info" style="display: inline;">
                                                    <span id="hashtag-content">
                                                        <%=Tag[index].TagName%>
                                                    </span>
                                                    <a class="js-remove-tag" href='javascript: $.post("/admin/deleteTagPost",{"idT":<%=Tag[index].ID%>,"idP":<%=post.ID%>},(data,status)=>{});'> <span data-role="remove"></span></a>
                                                </span>
                                            <% } %>
                                        </div>
                                    </div>
                                    <%#  add tag %>
                                    <div class="d-flex">
                                        <input type="text" data-role="tagsinput" placeholder="Thêm tags" class="ml-3">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-12 form-group card-body">
                                    <textarea name="Content" id="Content"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>
    <!--Main Script-->

    <script>
        $(document).ready(function() {
            $("form").bind("keypress", function(e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });
        });
    </script>
    
    <script>
        CKEDITOR.replace('Content', {
            height: 500
        });
    </script> 
    <script>
        CKEDITOR.instances.Content.setData(`<%-post.Content%>`, function () {
            this.checkDirty();  // true
        });
    </script>
    <script src="/js/editor/main.js"></script>
    <script src="/js/admin/article-detail.js"></script>
    <script>
        $(document).ready(function(){
            $('.js-remove-tag').click(function(){
                $(this).parent().hide();
            })
        })
    </script>
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>