<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Editor - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="../fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
    <link rel="stylesheet" href="/css/admin/bootstrap-tagsinput.css">
    <!--Ckeditor-->
    <script src="/js/writer/ckeditor/ckeditor.js"></script> 
    <script src="/js/editor/jquery.min.js"></script> <!-- cai nay chua add-->
    <script src="/js/admin/bootstrap-tagsinput.min.js"></script>
    <script src="/js/editor/jquery.min.js"></script>
    <style>
        .bootstrap-tagsinput {
            min-height: 0 !important;
            margin-left: 16px !important;
            margin-top: 16px !important;
        }
    </style>
</head>

<body>
    <div id="page">
        <%- include('../logout/admin/form.ejs') %>
        <%- include('../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
        <%- include('../logout/admin/header-hori.ejs') %>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-5">
                            <form method="post">
                                <div class="card-header">
                                    <div id="tool-button" class="d-flex">
                                        <button type="submit" class="btn btn-sm ml-3 btn-primary" formaction="/admin/save/baiviet">
                                            <i class="far fa-save"></i>
                                            <span> Save</span>
                                        </button>
                                        <button type="submit" class="btn btn-sm ml-3 clickable-row" formaction="/admin/saveClose/baiviet">
                                            <i class="fas fa-check"></i>
                                            <span> Save & Close</span>
                                        </button>
                                        <button type="submit" class="btn btn-sm ml-3 clickable-row" formaction="/admin/saveNew/baiviet">
                                            <i class="fas fa-plus"></i>
                                            <span> Save & New</span>
                                        </button>
                                        <button type="submit" class="btn btn-sm ml-3" formaction="/admin/delete/baiviet">
                                            <i class="fas fa-trash"></i>
                                            <span> Delete</span>
                                        </button>
                                    </div>
                                    <div class="d-flex mt-3">
                                    <%# post status %>
                                        <select id="PostStatus" name="PostStatus" class="custom-select-md ml-3">
                                            <option>Chọn trạng thái bài viết</option>
                                            <option value="1" >Đã xuất bản</option> <%# 1 xuat ban 0 chua xuat ban -1 tu choi%>
                                            <option value="0" >Chưa xuất bản</option> 
                                            <option value="-1" >Đã từ chối</option> 
                                        </select>
                                        <%# CatID %>
                                        <select id="CatID" name="CatID" class="custom-select-md ml-3">
                                            <option>Chọn chuyên mục bài viết</option>
                                            <% for( let index = 0; index < Cat.length; index++ ) { %>
                                                <option value="<%=Cat[index].ID%>"> <%=Cat[index].CatName%></option>
                                            <% } %>
                                        </select>
                                    </div>
                                    <div class="row align-items-center mt-3">
                                        <label for="article-title" class="col-2 ml-3">Tiêu đề</label>
                                        <input type="text" name="Title" placeholder="Title"
                                            class="col-8 form-control ml-3">
                                    </div>
                                    <%#  add tag %>
                                    <div class="d-flex">
                                        <input type="text" data-role="tagsinput" placeholder="Thêm tags" name="tagname" class="ml-3">
                                    </div>
                                </div>
                                <div class="col-xs-4 col-md-12 form-group card-body">
                                    <textarea name="Content" id="Content"></textarea>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>
    <!--Main Script-->
    <script>
        CKEDITOR.replace('Content', {
            height: 500
        });
    </script>
    <script src="/js/editor/main.js"></script>
    <script src="/js/admin/article-detail.js"></script>
    
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>