<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="../fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
</head>
<body>
    <div id="page">
        <%- include('../logout/admin/form.ejs') %>
        <%- include('../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
            <%- include('../logout/admin/header-hori.ejs') %>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2">
                        <h2>Quản lý bài viết</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-4 my-auto">
                                        <div id="card-header-title">
                                            <h5>Danh sách bài viết</h5>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="btn-toolbar justify-content-between flex-nowrap">
                                            <button type="button" class="btn btn-secondary clickable-row" data-href="newBaiViet">
                                                Thêm bài viết <span><i class="fas fa-plus"></i></span>
                                            </button>
                                            <select id="selectTrangThai" class="custom-select mx-auto w-50">
                                                <option value="2" <% if(ttbv==2){ %> selected <% } %> > Tất cả</option>
                                                <option value="1" <% if(ttbv==1){ %> selected <% } %> >Đã Xuất Bản</option>
                                                <option value="0" <% if(ttbv==0){ %> selected <% } %> >Chưa Xuất Bản</option>
                                                <option value="-1" <% if(ttbv==-1){ %> selected <% } %> >Bị từ chối</option>
                                                <option value="-2" <% if(ttbv==-2){ %> selected <% } %> >Đang Đợi...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card body">
                                <div class="table-responsive-xl">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Danh mục</th>
                                                <th scope="col">Tiêu đề</th>
                                                <th scope="col">Loại</th>
                                                <th scope="col">Tác giả</th>
                                                <th scope="col">Trạng thái</th>
                                                <th scope="col">Ngày xuất bản</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let index = 0; index < baiviet.length; index++ ) { %>
                                                <tr class="clickable-row" data-href="<%=baiviet[index].ID%>/ctBaiViet">
                                                    <th scope="row"><%= baiviet[index].ID %></th>
                                                    <td><%= baiviet[index].CatName %></td>
                                                    <td><%= baiviet[index].Title %></td>
                                                    <td>Thường</td>
                                                    <td>Xuân Diệu</td>
                                                    <td class="text-success">
                                                        <% if (baiviet[index].PostStatus===-1) { %>
                                                            Từ Chối.
                                                        <% } else if (baiviet[index].PostStatus=== 1 && dateNow < baiviet[index].ReleaseDay) {%>
                                                            Chưa Xuất Bản.
                                                        <% } else if (baiviet[index].PostStatus=== 1 ) {%>
                                                            Đã Xuất Bản.
                                                        <% } else if (baiviet[index].PostStatus === null) { %>
                                                            Đang Đợi...
                                                        <% } %> 
                                                    </td>
                                                    <td>
                                                        <%=baiviet[index].ReleaseDay%>
                                                    </td>
                                                </tr>
                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <span class="d-flex justify-content-center">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li class="page-item <% if(page[0].isActive){%> disabled <%}%> ">
                                                    <a class="page-link" href="/admin/qlBaiViet?page=<%=+p - 1%>&ttbv=<%=ttbv%>" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                        <span class="sr-only">Previous</span>
                                                    </a>
                                                </li>

                                                <li class="page-item <%if (lenPage.begin == 0){%> disabled <%}%> "><a class="page-link" 
                                                href="/admin/qlBaiViet?page=<%=lenPage.begin%>&ttbv=<%=ttbv%>">...</a></li>

                                                <% for (var i=lenPage.begin; i<=lenPage.end; i++){ %>
                                                    <li class="page-item <% if (page[i].isActive){%> active <%}%>"><a class="page-link" 
                                                    href="/admin/qlBaiViet?page=<%=page[i].value + 1%>&ttbv=<%=ttbv%>"><%=page[i].value + 1%></a></li>
                                                <% } %>

                                                <li class="page-item <%if (lenPage.end == page.length-1){%> disabled <%}%>"><a class="page-link" 
                                                href="/admin/qlBaiViet?page=<%=lenPage.end + 1%>&ttbv=<%=ttbv%>">...</a></li>

                                                <li class="page-item <% if(page[page.length-1].isActive){%> disabled <%}%> ">
                                                    <a class="page-link" href="/admin/qlBaiViet?page=<%=+p + 1%>&ttbv=<%=ttbv%>" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span> 
                                                        <span class="sr-only">Next</span>
                                                    </a>    
                                                </li>
                                            </ul>
                                        </nav>
                                    </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    </div>
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/editor/main.js"></script>
    <script>
        document.getElementById("selectTrangThai").addEventListener('change', changeTTBV, false);

        function changeTTBV(){
            var value =  document.getElementById("selectTrangThai").value;
            
            document.location.href = '/admin/qlBaiViet?ttbv='+value;
        }

        window.addEventListener("load", start, false);
    </script>

</body>

</html>