<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catagories - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="/css/fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
</head>

<body>
    <div id="page">
        <%- include('../logout/admin/form.ejs') %>
        <%- include('../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
            <!--Head content-->
            <%- include('../logout/admin/header-hori.ejs') %>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2">
                        <h2>Quản lý danh mục</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col my-auto">
                                        <div id="card-header-title">
                                            <h5>Danh sách danh mục</h5>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <form action="/admin/categories/add" method="POST" class="input-group w-100">
                                            <input  type="text" class="form-control" 
                                                    placeholder="Thêm danh mục"
                                                    name="CatName">
                                            <button class="btn btn-white" type="submit">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!--data-->
                            <div class="card body">
                                <ul class="cata-list list-unstyled row p-2">
                                    <% for(var i = 0; i< rows.length; i++){ %>
                                        <% if(i == 0){ %>
                                        <li class="col-12 col-md-5 mx-auto mb-4 p-2">
                                            <!--Thang chinh-->
                                            <form 
                                                action="/admin/categories/edit/<%=rows[i].ID %>" 
                                                method="post" class="input-group mb-1">
                                                <input name="CatName" type="text" class="form-control" 
                                                    value="<%=rows[i].CatName %>" disabled>
                                                <button class="btn btn-white js-edit-btn" type="button">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                                <button class="btn btn-white display-none js-save-btn" type="submit">
                                                    <i class="far fa-save"></i>
                                                </button>
                                                <button class="btn btn-white" type="submit" 
                                                        formaction="/admin/categories/delete/<%=rows[i].ID %>">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </form>
                                            <ul class="list-group">
                                            <% if(rows[i].subID != null){ %>
                                                <li class="list-group-item">
                                                    <!--Thang con-->
                                                    <form action="/admin/categories/edit/<%=rows[i].subID %>" 
                                                        method="post" class="input-group mb-1">
                                                        <input name="CatName" type="text" class="form-control" 
                                                        value="<%=rows[i].subName %>" disabled>
                                                        <button class="btn btn-white js-edit-btn" type="button">
                                                            <i class="far fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-white display-none js-save-btn" type="submit">
                                                            <i class="far fa-save"></i>
                                                        </button>
                                                        <button class="btn btn-white" type="submit" 
                                                                formaction="/admin/categories/delete/<%=rows[i].subID %>">
                                                            <i class="far fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </li>
                                            <% } %>
                                        <% } %>
                                        <% if(i != 0){ %>
                                            <% if(rows[i].ID == rows[i-1].ID && rows[i].subID != null){ %>
                                                <li class="list-group-item">
                                                    <!--Thang con-->
                                                    <form action="/admin/categories/edit/<%=rows[i].subID %>" 
                                                        method="post" class="input-group mb-1">
                                                        <input name="CatName" type="text" class="form-control" 
                                                        value="<%=rows[i].subName %>" disabled>
                                                        <button class="btn btn-white js-edit-btn" type="button">
                                                            <i class="far fa-edit"></i>
                                                        </button>
                                                        <button class="btn btn-white display-none js-save-btn" type="submit">
                                                            <i class="far fa-save"></i>
                                                        </button>
                                                        <button class="btn btn-white" type="submit" 
                                                                formaction="/admin/categories/delete/<%=rows[i].subID %>">
                                                            <i class="far fa-trash-alt"></i>
                                                        </button>
                                                    </form>
                                                </li>
                                                <% if((rows[i].subID != null) && (i == (rows.length-1))){ %>
                                                    <li class="list-group-item">
                                                            <form action="/admin/categories/<%=rows[i].ID %>/add" method="post"
                                                                class="input-group mb-1">
                                                                <input type="text" class="form-control" placeholder="Thêm danh mục con" name="CatName">
                                                                <button class="btn btn-white js-add-btn" type="submit"><i class="fas fa-plus"></i></button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                <% } %>
                                            <% } %>
                                            <% if(rows[i].ID != rows[i-1].ID){ %>
                                                <!--Them danh muc "can xem lai"-->
                                                <li class="list-group-item">
                                                    <form action="/admin/categories/<%=rows[i-1].ID %>/add" method="post"
                                                        class="input-group mb-1">
                                                        <input type="text" class="form-control" placeholder="Thêm danh mục con" name="CatName">
                                                        <button class="btn btn-white js-add-btn" type="submit"><i class="fas fa-plus"></i></button>
                                                    </form>
                                                </li>
                                            <!--Dong danh muc chay nay lại-->
                                            </ul>
                                        </li>
                                        <!--Danh muc cha tiep theo-->
                                        <li class="col-12 col-md-5 mx-auto mb-4 p-2">
                                            <!--Thang cha again-->
                                            <form 
                                                action="/admin/categories/edit/<%=rows[i].ID %>" 
                                                method="post" class="input-group mb-1">
                                                <input name="CatName" type="text" class="form-control" 
                                                    value="<%=rows[i].CatName %>" disabled>
                                                <button class="btn btn-white js-edit-btn" type="button">
                                                    <i class="far fa-edit"></i>
                                                </button>
                                                <button class="btn btn-white display-none js-save-btn" type="submit">
                                                    <i class="far fa-save"></i>
                                                </button>
                                                <button class="btn btn-white" type="submit" 
                                                        formaction="/admin/categories/delete/<%=rows[i].ID %>">
                                                    <i class="far fa-trash-alt"></i>
                                                </button>
                                            </form>
                                            <ul class="list-group">
                                                <% if(rows[i].subID != null){ %>
                                                    <li class="list-group-item">
                                                        <!--Thang con-->
                                                        <form action="/admin/categories/edit/<%=rows[i].subID %>" 
                                                            method="post" class="input-group mb-1">
                                                            <input name="CatName" type="text" class="form-control" 
                                                            value="<%=rows[i].subName %>" disabled>
                                                            <button class="btn btn-white js-edit-btn" type="button">
                                                                <i class="far fa-edit"></i>
                                                            </button>
                                                            <button class="btn btn-white display-none js-save-btn" type="submit">
                                                                <i class="far fa-save"></i>
                                                            </button>
                                                            <button class="btn btn-white" type="submit" 
                                                                    formaction="/admin/categories/delete/<%=rows[i].subID %>">
                                                                <i class="far fa-trash-alt"></i>
                                                            </button>
                                                        </form>
                                                    </li>
                                                <% }else{ %>
                                                    <!--Them thang con-->
                                                    <li class="list-group-item">
                                                        <form action="/admin/categories/<%=rows[i].ID %>/add" method="post" class="input-group mb-1">
                                                            <input type="text" class="form-control" placeholder="Thêm danh mục con" name="CatName">
                                                            <button class="btn btn-white js-add-btn" type="submit"><i class="fas fa-plus"></i></button>
                                                        </form>
                                                    </li>
                                                <% } %>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!--Main Script-->
    <script src="/js/editor/main.js"></script>
</body>

</html>