<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HashTags - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="/fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
    <link rel="stylesheet" href="/css/admin/bootstrap-tagsinput.css">
    <link rel="stylesheet" href="/css/cssAutoComplete/cssAutoComplete.css">
    <script src="/js/admin/bootstrap-tagsinput.min.js"></script>
    
</head>

<body>
    <div id="page">
        <%- include('../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
            <!--Head content-->
            <div class="head-content row">
            <div class="col-4"></div>
                <div class="col-4">
                    <form class="form-inline float-right" autocomplete="off">
                        <input class="form-control mr-sm-2" id="mySearch" type="text" placeholder="Search"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0 clickable-row"
                            data-href="/guest/search-result" type="button">Search</button>
                    </form>
                </div>
                <div class="col-md-4 text-right my-auto"> 
                    <a href="profile-admin.html" class="head-item"><img src="/images/account.png"></a>
                    <a href="../index.html" class="head-item">
                        <span>Đăng xuất</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2">
                        <h2>Quản lý #HashTags</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col my-auto">
                                        <div id="card-header-title">
                                            <h5>Danh sách Tags</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                               <div class="card">
                                    <div class="bootstrap-tagsinput">
                                    <% for( let index = 0; index < tag.length; index++ ) { %>
                                        <span class="tag label label-info"><%=tag[index]["TagName"] %>
                                            <a href="/admin/<%=tag[index].ID %>/deletetag"> <span data-role="remove"></span></a>
                                        </span>
                                    <% } %>
                                        
                                        
                                    </div>
                                    
                                </div>
                            <form action="/admin/qlHashTag/add" method="POST">

                                <div class="card-header">
                                    <div class="row">
                                        <div class="col my-auto">
                                            <div id="card-header-title">
                                                <h5>Thêm HashTag</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card body"> 
                                <center>
                                    <input type="text" name="tagname" data-role="tagsinput" placeholder="Add tags" />
                                </center>
                                    <button class="btn btn-primary mb-3 button_a" formaction="/admin/qlHashTag/add" role="submit">
                                        <i class="fa fa-check-circle" aria-hidden="true"></i>  
                                        Gữi
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

        <script>
            function autocomplete(inp, arr) {
                var currentFocus; 
                inp.addEventListener("input", function(e) {
                    var a, b, i, val = this.value; 
                    closeAllLists();
                    if (!val) { return false;}
                    currentFocus = -1; 
                    a = document.createElement("DIV");
                    a.setAttribute("id", this.id + "autocomplete-list");
                    a.setAttribute("class", "autocomplete-items"); 
                    this.parentNode.appendChild(a);
                   alert(arr.length);
                    
                    for (i = 0; i < arr.length; i++) { 
                    // xử lí điều kiện tương đồng. co de sua thanh dieu kien gan dung nhu full text search
                    // if (arr[i].[atrr].substr(0, val.length).toUpperCase() == val.toUpperCase()){
                        
                        if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()){
                            alert(arr[i].substr(0,val.length).toUpperCase() == val.toUpperCase());
                            b = document.createElement("DIV"); 
                            b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                            b.innerHTML += arr[i].substr(val.length);
                            b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>"; 
                            b.addEventListener("click", function(e) { 
                                inp.value = this.getElementsByTagName("input")[0].value;
                                closeAllLists();
                            });
                            a.appendChild(b);
                        }
                    }
                });
            
                inp.addEventListener("keydown", function(e) {
                    var x = document.getElementById(this.id + "autocomplete-list");
                    if (x) x = x.getElementsByTagName("div");
                    if (e.keyCode == 40) { 
                    currentFocus++;
            
                    addActive(x);
                    } else if (e.keyCode == 38) { 
                    currentFocus--; 
                    addActive(x);
                    } else if (e.keyCode == 13) { 
                    e.preventDefault();
                    if (currentFocus > -1) { 
                        if (x) x[currentFocus].click();
                    }
                    }
                });
                function addActive(x) {
                if (!x) return false;
            
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
            
                x[currentFocus].classList.add("autocomplete-active");
                }
                function removeActive(x) {
            
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
                }
                function closeAllLists(elmnt) {
            
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                    x[i].parentNode.removeChild(x[i]);
                    }
                }
                }
            
                document.addEventListener("click", function (e) {
                    closeAllLists(e.target);
                });
            }
        </script>

        <script>
            $(document).ready(function() {
                $("form").bind("keypress", function(e) {
                    if (e.keyCode == 13) {
                        return false;
                    }
                });
            });
        </script>
        <script>
            alert("<%=TagName.a %>");
            //autocomplete(document.getElementById("mySearch"),[<%=TagName.a %>]);
            
        </script>
            
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/editor/main.js"></script>
</body>

</html>