<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users - Admin</title>
    <!--Font-->
    <link rel="stylesheet" href="/fonts/Open_Sans/open-sans.css">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--StyleSheet-->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/admin-style.css">
    <link rel="stylesheet" href="/css/admin/qlNguoiDungV2_CSS.css">

</head>

<body>
    <div id="page">
        <%- include('../../logout/admin/form.ejs') %>
        <%- include('../../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
        <%- include('../../logout/admin/header-hori.ejs') %>
            <!--Main content-->
            <div class="container">
                <div class="row">
                    <div class="col-12 py-2 d-flex flex-row">
                        <a href="/admin/qlNguoiDung">
                            <h2>Quản lý người dùng </h2>
                        </a>
                        <h2><i class="fas fa-caret-right mx-2"></i>Editor</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col my-auto">
                                        <div id="card-header-title">
                                            <h5>Danh sách người dùng Editor</h5>
                                        </div>
                                    </div>
                                    <div class="col text-right">
                                        <a href="#addNewModal" class="btn btn-primary btn-color" data-toggle="modal"><i
                                                class="fas fa-plus-circle"></i> <span>Thêm Editor</span></a>
                                            </div>
                                        </div>
                            </div>
                            <div class="card body">
                                <!-- ### Subcriber table ###-->
                                <div id="js-subcriber-table" class="table-responsive-xl">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Avatar</th>
                                                <th scope="col">Editor</th>
                                                <th scope="col">Ngày sinh</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Số lượng category quản lý</th>
                                                <th scope="col"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for( let index = 0; index < rows.length; index++ ) { %>
                                                <tr id="<%=rows[index].ID %>">
                                                <td class="avatar"><img src="/images/1.jpg" alt=""></td>
                                                <td>
                                                    <div class="widget-heading">
                                                        <%=rows[index].FullName %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="birthday-size">
                                                        <%=rows[index].DoB %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="user-email">
                                                        <%=rows[index].Email %>
                                                    </div>
                                                </td>
                                                <td>
                                                    <%=rows[index].noc %>
                                                </td>
                                                <td>
                                                    <div class = "d-flex justify-content-around">
                                                        <a class="detail badge-pill" href="user-info/<%=rows[index].ID %>" title="Xem chi tiết">Xem chi tiết</a>
                                                        <a id="<%=rows[index].ID %>" href="#deleteModal" class="delete" data-toggle="modal"><i class="fas fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% } %> 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <% let n = pages.length; %>
                                <% if (n > 0) { %>
                                    <ul class="pagination pagination-circle pg-color d-flex justify-content-center">
                                    <% if (n == 1) { %>
                                    <li class="page-item disabled"><a class="page-link"><i class="fas fa-angle-left"></i></a></li>
                                    <% } else { %>
                                        <li class="page-item"><a class="page-link" href="?page=1"><i class="fas fa-angle-left"></i></i></a></li>
                                    <% } %>
                                    
                                    <% if (n > 5) {%>
                                        <% var temp = +currentPage - 2; %>
                                        <% if (temp <=1 ) { %>
                                            <% for(var i = 1; i<= 5; i++) { %>
                                                <% if (currentPage == i) { %>
                                                    <li class="page-item active"><a class="page-link"><%= i %> <span class="sr-only">(current)</span></a></li>
                                                    <% } else { %>
                                                    <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                                                    <% } %>
                                            <% } %>
                                            <li class="page-item disabled"><a class="page-link" href="javascript:;">...</a></li>
                                        <% }else { if((currentPage + 2) < n) { %>
                                            <li class="page-item disabled"><a class="page-link" href="javascript:;">...</a></li>
                                            <% for(var i = temp; i<= currentPage + 2; i++) { %>
                                                <% if (currentPage == i) { %>
                                                    <li class="page-item active"><a class="page-link"><%= i %> <span class="sr-only">(current)</span></a></li>
                                                <% } else { %>
                                                    <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                                                <% } %>
                                            <% } %>
                                            <li class="page-item disabled"><a class="page-link" href="javascript:;">...</a></li>
                                        <% } else{ %>
                                            <li class="page-item disabled"><a class="page-link" href="javascript:;">...</a></li>
                                                <% for(var i = n - 4; i<= n; i++) { %>
                                                    <% if (currentPage == i) { %>
                                                        <li class="page-item active"><a class="page-link"><%= i %> <span class="sr-only">(current)</span></a></li>
                                                    <% } else { %>
                                                        <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                                                    <% } %>
                                                    <% } %>
                                            <% } %>
                                        <%} %>
                                    <% } else { %>
                                        <% for(var i = 1; i<= n; i++) { %>
                                            <% if (currentPage == i) { %>
                                                <li class="page-item active"><a class="page-link"><%= i %> <span class="sr-only">(current)</span></a></li>
                                                <% } else { %>
                                                <li class="page-item"><a class="page-link" href="?page=<%= i %>"><%= i %></a></li>
                                                <% } %>
                                        <% } %>
                                    <% } %>

                                    <% if ((n)===currentPage ){ %>
                                    <li class="page-item disabled"><a class="page-link"><i class="fas fa-chevron-right"></i></a></li>
                                    <% } else { %>
                                        <li class="page-item"><a class="page-link" href="?page=<%=pages[n-1].value %>"><i class="fas fa-chevron-right"></i></a></li>
                                        <% } %>
                                    </ul>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="input-group w-100">

            <!-- Add New Modal -->
            <div class="modal fade" id="addNewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-dialog-edit" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Thêm
                                người dùng</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-left">
                            <form novalidate id="newMember" method="POST" action="">
                                <div class="row">
                                    <div class="editor-info col-6">
                                        <div class="form-group">
                                            <label for="input_hoTen" class="col-form-label">
                                                Họ tên:
                                            </label>
                                            <input type="text" class="form-control" name="name"
                                                id="input_hoTen" />
                                        </div>
                                        <div class="form-group">
                                            <label for="input_birthday"
                                                class="col-form-label">Ngày sinh:</label>
                                            <input type="text" id="input_birthday"
                                                class="form-control" name="birthday" />
                                        </div>
                                        <div class="form-group">
                                            <label for="input_email" class="col-form-label">
                                                Email:
                                            </label>
                                            <input type="email" name="email"
                                                class="form-control" id="input_email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="input_password" class="col-form-label">
                                                Mật khẩu:
                                            </label>
                                            <input type="password" name="password"
                                                class="form-control" id="input_password" />
                                        </div>
                                    </div>
                                    <div class="editor-cat col-6">
                                        <div class="form-group list-style-none">
                                            <span>Chuyên mục được phân công: </span>
                                            <ul class="ul-father">
                                                <% for(let index = 0; index < cats.length; index++){ %>
                                                    <% if(cats[index].SuperCatID == null) {%>    
                                                        <li>
                                                            <input type="checkbox" id="<%=cats[index].ID %>" name="checkCat" value="<%=cats[index].ID %>">
                                                            <label for="<%=cats[index].ID %>"><%=cats[index].CatName %></label>
                                                            <ul>
                                                                <% for(let j = 0; j < cats.length; j++){ %>
                                                                    <% if(cats[j].SuperCatID == cats[index].ID){ %>
                                                                       <li>
                                                                            <input type="checkbox" id="<%=cats[j].ID %>" name="checkCat" value="<%=cats[j].ID %>">
                                                                            <label for="<%=cats[j].ID %>"><%=cats[j].CatName %></label> 
                                                                       </li>
                                                                    <% } %>
                                                                <% } %>
                                                            </ul>
                                                        </li>
                                                    <% } %>
                                                <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn btn-secondary btn-color mr-3" data-dismiss="modal">Hủy</button>
                                    <button type="submit" class="btn btn-primary btn-color">Lưu</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Add New Modal -->

            <!-- Delete Modal -->
            <div id="deleteModal" class="modal fade">
                <div class="modal-dialog modal-confirm">
                    <div class="modal-content">
                        <form id="deleteMember" method="POST" action="nothing.asp">
                            <div class="modal-header">
                                <div class="d-flex flex-column mx-auto">
                                    <div class="icon-box">
                                        <i class="fas fa-times"></i>
                                    </div>
                                    <h4 class="modal-title">Bạn chắc chứ?</h4>
                                </div>
                                <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            </div>
                            <div class="modal-body">
                                <p>Bạn có chắc chắn muốn xóa người dùng này không? Thao tác
                                    này sẽ xóa toàn bộ thông tin về người dùng đó.</p>
                            </div>
                            <div class="modal-footer">
                                <div class="w-100 d-flex justify-content-around">
                                    <button type="button" class="btn btn-info" data-dismiss="modal">Hủy bỏ</button>
                                    <button type="submit" class="btn btn-danger">Xác thực</button>                                
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End Delete Modal -->
        </div>
               
    </div>

    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Main Script-->
    <script src="/js/editor/main.js"></script>
    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script>
        $(function () {
            $('td').click(function() {
                var $tr = $(this).closest('tr');
                var chooseID = $tr.attr('id');
                var finalActionDelete = "/admin/qlNguoiDung/editors/delete/"+chooseID;
                document.getElementById('deleteMember').action = finalActionDelete;
            });
            $('#input_birthday').datetimepicker({
                format: 'd/m/Y',
                timepicker: false,
                mask: true
            });
            $('#newMember').validate({
                rules: {
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: '/guest/is-available'
                        }
                    },
                    password: {
                        required: true,
                        minlength: 6
                    }
                },
                messages: {
                    email: {
                        required: 'Vui lòng nhập email.',
                        email: 'Email không hợp lệ.',
                        remote: 'Email này đã được đăng ký bởi tài khoản khác.'
                    },
                    password: {
                        required: 'Vui lòng nhập mật khẩu.',
                        minlength: 'Mật khẩu phải có độ dài lớn hơn 6.'
                    }
                },
                errorElement: 'small',
                errorClass: 'help-block text-danger',
                highlight: function (e) {
                    $(e).removeClass('is-valid').addClass('is-invalid');
                },
                unhighlight: function (e) {
                    $(e).removeClass('is-invalid').addClass('is-valid');
                }
            });
        });
    </script>
</body>

</html>