<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User-Info</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--StyleSheet-->
    <link rel="stylesheet" href="/css/editor/editor-style.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/profile-adminCSS.css">
    <link rel="stylesheet" type="text/css" href="/css/admin/admin-style.css">
    <link rel="stylesheet" type="text/css" href="/css/editor/editor-style.css">
    <link rel="stylesheet" href="/css/admin/qlNguoiDungV2_CSS.css">
    <!--JQuery-->
    <script src="/js/editor/jquery.min.js"></script>
    <!--Main Script-->
    <script src="/js/editor/main.js"></script>
</head>

<body>
    <div id="page">
        <%- include('../../header-footer/header-admin.ejs') %>
        <section id="page-main-content">
            <div class="head-content row">
                <div class="col-md-12 text-right my-auto">
                    <a href="#" class="head-item"><img src="../images/account.png"></a>
                    <a href="../index.html" class="head-item">
                        <span>Đăng xuất</span>
                        <i class="fas fa-sign-out-alt"></i>
                    </a>
                </div>
            </div>
            <div id="content">
                <div class="row">
                    <div class="col-12 py-2 d-flex flex-row">
                        <a href="/admin/qlNguoiDung">
                            <h2>Quản lý người dùng </h2>
                        </a>
                        <h2><i class="fas fa-caret-right mx-2"></i></h2>
                        <a href="/admin/qlNguoiDung/editors">
                            <h2>Editor</h2>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col my-auto">
                                        <div id="card-header-title">
                                            <h5><%=neditor[0].FullName %></h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card body">
                                <form class="d-flex flex-row content-form-view" method="POST" action="">
                                    <div class="col-md-12 row">
                                        <div class="col-md-6">
                                            <div id="content-form-img">
                                                <div id="profile-picture">
                                                    <% if(neditor[0].Photo == null) { %>
                                                    <img src="/images/1.jpg">
                                                    <% } else{ %>
                                                    <img src="<%=neditor[0].Photo %>">
                                                    <% } %>
                                                </div>
                                            </div>
                                            <div class="form-group col-md-12 row form-disable">
                                                <label for="inputHoTen" class="col-sm-4 col-form-label">Họ tên:</label>
                                                <input type="text" class="input-feild col-md-8" id="inputHoTen"
                                                    value="<%= neditor[0].FullName %>" readonly>
                                            </div>
                                            <div class="form-group col-md-12 row form-disable">
                                                <label for="inputEmail" class="col-sm-4 col-form-label">Email:</label>
                                                <input type="email" class="input-feild col-md-8" id="inputEmail"
                                                    value="<%= neditor[0].Email %>" readonly>
                                            </div>
                                            <div class="col-md-12 row form-disable">
                                                <label for="showDate" class="col-form-label col-sm-4">Ngày sinh:</label>
                                                <input type="text" class=" col-md-8" id="showDate"
                                                    value="<%= neditor[0].DoB %>" readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group list-style-none">
                                                <h5>Chuyên mục được phân công: </h5>
                                                <ul class="ul-fayther">
                                                    <% for(let index = 0; index < cats.length; index++){ %>
                                                    <% if(cats[index].SuperCatID == null) {%>
                                                    <li>
                                                        
                                                        <input type="checkbox" class = "li-disable" id="<%= cats[index].ID %>" name="checkCat" readonly
                                                            value="<%=cats[index].ID %>" <% for(let i = 0; i < editorCat.length; i++){ %> <% if (editorCat[i].ManagedCatID==cats[index].ID){ %> checked <%}%> <% } %> >
                                                        <label
                                                            for="<%=cats[index].ID %>"><%=cats[index].CatName %></label>
                                                        <ul>
                                                            <% for(let j = 0; j < cats.length; j++){ %>
                                                            <% if(cats[j].SuperCatID == cats[index].ID){ %>
                                                            <li>
                                                                <input type="checkbox" class = "li-disable" id="<%=cats[j].ID %>" readonly                           
                                                                    name="checkCat" value="<%=cats[j].ID %>" <% for(let i = 0; i < editorCat.length; i++){ %> <% if(cats[j].ID == editorCat[i].ManagedCatID) { %> checked <% }} %>>
                                                                <label
                                                                    for="<%=cats[j].ID %>"><%=cats[j].CatName %></label>
                                                            </li>
                                                            <% } %>
                                                            <% } %>
                                                        </ul>
                                                    </li>
                                                    <% } %>
                                                    <% } %>
                                                </ul>
                                            </div>
                                        </div>
                                                <div class="text-center mb-3 mx-auto">
                                                        <button id = "btn-save" type="submit" class="btn btn-primary btn-color">Lưu</button>
                                                </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--JQuery-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!--Main Script-->
    <script src="/js/editor/main.js"></script>
    <!--Bootstrap-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
</body>
</html>