<section id="page-nav">
    <div class="mb-top">
        <a href="#" class="js-toggle toggle"><i></i></a>
        <div class="mb-logo d-flex align-items-center">
            <h1 class="m-0">TH16-News</h1>
        </div>
    </div>
    <aside id="page-aside" role="complementary" class="js-fullheight">
        <div id="page-logo">
            <img src="/images/company-logo.png" alt="company-logo">
        </div>
        <nav id="page-main-menu" role="navigation">
            <ul>
                <li class="nav-img">
                        <% if(user.Photo){ %>
                            <img src="<%=user.Photo %>">
                        <% }else{ %>
                            <img src="/images/account.png">
                        <% } %>
                        <% if(user.Email){ %>
                            <img src="<%=user.Photo %>">
                            <a href="#"><span><%=user.Email %></span></a></li>
                        <% } %>
                <li <% if (isActive==="pe") { %> class="active" <% } %> ><a href="/editor/profile-editor">Thông tin cá nhân</a></li>
                <li class="js-menu-toggle active">
                    <a href="#sub-menu" data-toggle="collapse" role="button" aria-expanded="true"
                        aria-controls="sub-menu">Xét duyệt bài viết</a>
                    <ul class="collapse show" id="sub-menu">
                        <% for( let index = 0; index < categories.length; index++ ) { %>
                            <li <% if(categories[index].isActive){ %> class="active" <% } %>><a href="/editor/<%=categories[index].ID %>"><%=categories[index].CatName %></a></li>
                        <% } %>
                    </ul>
                </li>
                <li <% if (isActive==="s") { %> class="active" <% } %> ><a href="/editor/security">Bảo mật</a></li>
                <li><a href="javascript:$('#frmSignout').submit();" class="main-menu-hidden">Đăng xuất</a></li>
            </ul>
        </nav>
        <div id="page-footer" class="text-right">
            <p>TH16-News <i class="far fa-copyright"></i> 2019</p>
            <p><i class="fas fa-map-marker-alt"></i><span> 227 Nguyen Van Cu St. Ward 4</span> District 5, Ho
                Chi Minh City</p>
            <p><i class="fas fa-phone"></i> +84848484848</p>
            <p><i class="fas fa-envelope"></i> 548.533.552@gmail.com</p>
            <h3>About us</h3>
            <p>We are a group with three people.</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-github"></i>
                <i class="fab fa-linkedin"></i>
                <i class="fab fa-twitter"></i>
            </div>
        </div>
    </aside>
</section>