
<!-- ### Navigation Bar ###-->
<% if(locals.user){ %>
    <form name="frmSignout" id="frmSignout" action="/<%=user.role%>/logout" method="POST"></form>
<% } %>
<section class="navigation bg-light">
    <div class="ml-5">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-light navbar-expand-lg">
                        <a class="navbar-brand" href="/"><img src="/images/company-logo.png" alt=""></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                            aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbar">
                            <ul class="navbar-nav mr-auto">
                                <% for(var i = 0; i< cats.length; i++){ %>
                                    <% if(i == 0){ %>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"><%=cats[i].CatName %></a>
                                            <div class="dropdown-menu">
                                                <% if(cats[i].subID != null){ %>
                                                    <a href="/guest/chuyen-de" class="dropdown-item"><%=cats[i].subName %></a>
                                                <% } %>
                                    <% } %>
                                    <% if(i != 0){ %>
                                        <% if(cats[i].ID == cats[i-1].ID && cats[i].subID != null){ %>
                                                <a href="/guest/chuyen-de" class="dropdown-item"><%=cats[i].subName %></a>
                                        <% } %>
                                    <% if(cats[i].ID != cats[i-1].ID){ %>        
                                        <div class="dropdown-divider"></div>
                                            <a href="/guest/chuyen-de" class="dropdown-item">
                                                Mọi bài viết chủ đề <%=cats[i-1].CatName %>
                                            </a>
                                        </div>
                                    </li>
                                    <!--Father-->
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"><%=cats[i].CatName %></a>
                                        <div class="dropdown-menu">
                                            <% if(cats[i].subID != null){ %>
                                                <a href="/guest/chuyen-de" class="dropdown-item"><%=cats[i].subName %></a>
                                            <% }else{ %>
                                            <div class="dropdown-divider"></div>
                                            <a href="/guest/chuyen-de" class="dropdown-item">
                                                Mọi bài viết chủ đề <%=cats[i-1].CatName %>
                                            </a>
                                            <% } %>
                                            <% if(cats[i].subID != null && i == (cats.length-1)){ %>
                                                <div class="dropdown-divider"></div>
                                                <a href="/guest/chuyen-de" class="dropdown-item">
                                                    Mọi bài viết chủ đề <%=cats[i-1].CatName %>
                                                </a>
                                            <% } %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </ul>

                            <form class="searchDestop">
                                <label for="search" class="button button--small button--less" title="Tìm kiếm">
                                    <i class="fas fa-search"></i>
                                </label>
                                <input type="text" id="search" placeholder="Tìm kiếm..." class="inputSearch">
                            </form>
                            <% if(!user){ %>
                                <div class="signInOutGr">
                                    <a href="javascript:;" class="button button--primary button--less mobile js-search btn-black">
                                                <i class="fas fa-search"></i></a>
                                    <a href="/guest/login" class="button button--primary button--less">Đăng nhập</a>
                                    <a href="/guest/sign_up" class="btn btn-outline-success">Đăng ký</a>
                                </div>
                            <% }else{ %>
                                <div class="signInOutGr isLogin" >
                                        <a class="button button--primary button--less mobile js-search btn-black"href="javascript:;" ><i class="fas fa-search"></i></a>
                                        <div class="account">
                                            <a href="javascript:;" class="button user-icon js-user">
                                                <% if(user.Photo){ %>
                                                    <image class="user-icon-image" src="<%=user.Photo%>"/>
                                                <% }else{ %>
                                                    <image class="user-icon-image" src="/images/account.png"/>
                                                <% } %>
                                            </a>
                                            <div class="js-popover account-menu card shadow-sm d-none">
                                                <ul role="menu">
                                                    <li><a href="javascript:;" class="d-block">
                                                        Upgrade</a></li>
                                                        <% if(locals.user){ %>
                                                            <li><a href="/<%=user.role%>/profile-<%=user.role%>" class="d-block">
                                                                Thông tin cá nhân</a>
                                                            </li>
                                                        <% } %>
                                                    <li><a href="javascript:$('#frmSignout').submit();" class="d-block">
                                                        Đăng xuất</i>
                                                    </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                </div>
                            <% } %>
                        </div>
                    </nav>
                </div>
            
            </div>
    </div>
    <div class="infinity-search">
        <div class="infinity-search-row">
            <div class="infinity-search-cell">
                <form action="#" method="post">
                    <input type="text" placeholder="Tìm kiếm..." class="searchField">
                    <div class="infinity-search-submit">
                        <i class="fas fa-search"></i>
                        <input type="submit">
                    </div>
                    <div class="infinity-search-close js-infinity-close">
                        <span>&#10005</span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>