<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=cat.CatName %></title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <!--image style-->
    <link rel="stylesheet" href="/css/index-style.css" type="text/css">
    <!--Footer and nav style-->
    <link rel="stylesheet" href="/css/footer-nav-headerCSS.css">
    <!--This page style-->
    <link rel="stylesheet" href="/css/guest/cata-style.css">
</head>

<body>
    <%- include('../header-footer/header.ejs') %>
    <!-- ### Cata menu ### -->
    <section class="cata-menu">
        <div class="container">
            <div class="col-12">
                <ul class="breadcrumb">
                    <% if(cat.FID!=null){ %>
                        <li class="start">
                            <h4>
                                <a href="/guest/chuyen-de/<%=cat.FID%>"><%=cat.FName%></a>
                            </h4>
                        </li>
                        <li>
                            <h4>
                                <a href="/guest/chuyen-de/<%=cat.ID%>"><%=cat.CatName%></a>
                            </h4>
                        </li>
                    <% }else{ %>
                        <li class="start">
                            <h4>
                                <a href="/guest/chuyen-de/<%=cat.ID%>"><%=cat.CatName%></a>
                            </h4>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>

    </section>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <% if(!locals.posts || posts.length == 0){ %>
                        <h1>Chuyên mục này chưa có bài viết nào</h1>
                    <% }else{ %>
                        <div class="content-wrapper">
                            <div class="content-thumbnail">
                                <!--Premium-->
                                <% if(posts[0].Premium == 1){ %>
                                    <span class="premium-tag"><i class="far fa-gem"></i></span>
                                <% } %>
                                <% if(posts[0].Premium == 1 && !locals.user){ %>
                                    <a href="javascript:;">
                                        <%-posts[0].ImageAbstract%>
                                    </a>
                                <% }else{ %>
                                    <a href="/chitietbaiviet/<%=posts[0].ID%>">
                                        <%-posts[0].ImageAbstract%>
                                    </a>
                                <% } %>
                            </div>
                            <div class="content-header">
                                <h2 class="post-title first">
                                    <!--Premium-->
                                    <% if(posts[0].Premium == 1 && !locals.user){ %>
                                        <a href="javascript:;">
                                            <%=posts[0].Title%>
                                        </a>
                                    <% }else{ %>
                                        <a href="/chitietbaiviet/<%=posts[0].ID%>"><%=posts[0].Title%></a>
                                    <% } %>
                                </h2>
                                <div class="post-meta">
                                    <i class="far fa-clock"></i> <span id="post-time"><%=posts[0].ReleaseDay%></span>
                                    <%if(posts[0].Tags.length != 0){ %>
                                        <% for(let i = 0; i< posts[0].Tags.length;i++){ %>
                                            <a href="/guest/tag/<%=posts[0].Tags[i].ID%>" class="badge badge-secondary">
                                                <span>#<%=posts[0].Tags[i].Name%></span>
                                            </a>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="post-abstract">
                                    <p><%=posts[0].Abstract%></p>
                                </div>
                            </div>
                        </div>
                        <div class="post-list">
                            <!--### single post ###-->
                            <% for(let i = 1; i< posts.length; i++){ %>
                                <div class="row post">
                                    <div class="col-md-4">
                                        <div class="post-thumbnail">
                                            <!--Premium---->
                                            <% if(posts[i].Premium == 1 && !locals.user){ %>
                                                <a href="javascript:;">
                                                    <%-posts[i].ImageAbstract%>
                                                </a>
                                            <% }else{ %>
                                                <a href="/chitietbaiviet/<%=posts[i].ID%>"><%-posts[i].ImageAbstract%></a>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="post-content">
                                            <% if(posts[i].Premium == 1){ %>
                                                <span class="premium-tag"><i class="far fa-gem"></i></span>
                                            <% } %>
                                            <!--Premium-->
                                            <% if(posts[0].Premium == 1 && !locals.user){ %>
                                                <h2 class="post-title">
                                                    <a href="javascript:;"><%=posts[i].Title%></a>
                                                </h2>
                                            <% }else{ %>
                                                <h2 class="post-title">
                                                    <a href="/chitietbaiviet/<%=posts[i].ID%>"><%=posts[i].Title%></a>
                                                </h2>
                                            <% } %>
                                            <div class="post-meta">
                                                <i class="far fa-clock"></i> <span id="post-time"><%=posts[i].ReleaseDay%>
                                                </span>
                                                <%if(posts[i].Tags.length != 0){ %>
                                                    <% for(let j = 0; j< posts[i].Tags.length;j++){ %>
                                                        <a href="/guest/tag/<%=posts[i].Tags[j].ID%>" class="badge badge-secondary d-inline-block hashtag">
                                                            <span>#<%=posts[i].Tags[j].Name%></span>
                                                        </a>
                                                    <% } %>
                                                <% } %>
                                            </div>
                                            <div class="post-abstract">
                                                <p><%=posts[0].Abstract%></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                            <div class="row justify-content-center">
                                <ul class="pagination">
                                    <li class="page-item disabled"><a href="#" class="page-link"><i class="fas fa-chevron-left"></i></a></li>
                                    <li class="page-item active"><a href="#" class="page-link">1</a></li>
                                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                                    <li class="page-item"><a href="#" class="page-link"><i class="fas fa-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
    
    <%- include('../header-footer/footer.ejs')%>

    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>