<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kết quả tìm kiếm AVENGER:1(2019)</title>
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--image style-->
    <link rel="stylesheet" href="/css/index-style.css" type="text/css">
    <!--Footer and nav style-->
    <link rel="stylesheet" href="/css/footer-nav-headerCSS.css">
    <!--This page style-->
    <link rel="stylesheet" href="/css/guest/cata-style.css">
    <link rel="stylesheet" href="/css/guest/search.css">
    <link rel="stylesheet" href="/css/admin/cssPhanTrang.css">
    <style>
        .post-thumbnail img{
            width: 200px;
            height: 200px;
        }
    </style>
</head>
<body>
    <%- include('../header-footer/header.ejs') %>
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div id="search-result-meta">
                        <h1 id="search-query"><%=value%></h1>
                        <h2 id="search-info">Tìm thấy <span id="number"><%=rows.length%></span> kết quả phù hợp.</h2>
                    </div>
                    <%if(rows.length != 0){%>
                    <div class="content-wrapper">
                        <div class="content-thumbnail">
                            <a href="/chitietbaiviet/<%=rows[0].ID%>"><%-rows[0].ImageAbstract%></a>
                        </div>
                        <div class="content-header">
                            <h2 class="post-title first"><a href="/chitietbaiviet/<%=rows[0].ID%>"><%=rows[0].Title%></a></h2>
                            <div class="post-meta">
                                <i class="far fa-clock"></i> <span id="post-time"><%=rows[0].ReleaseDay%></span>
                            </div>
                            <div class="post-abstract">
                                <p><%=rows[0].Abstract%></p>
                            </div>
                        </div>
                    </div>
                    <div class="post-list">
                        <!--### single post ###-->
                        <% for( let index = 1; index < rows.length; index++ ) { %>
                            <div class="row post">
                                <div class="col-md-4">
                                    <div class="post-thumbnail">
                                        <a href="/chitietbaiviet/<%=rows[index].ID%>"><%-rows[index].ImageAbstract%></a>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="post-content">
                                        <h2 class="post-title">
                                            <a href="/chitietbaiviet/<%=rows[index].ID%>"><%=rows[index].Title%></a>
                                        </h2>
                                        <div class="post-meta">
                                            <i class="far fa-clock"></i> <span id="post-time"><%=rows[index].ReleaseDay%></span>
                                        </div>
                                        <div class="post-abstract">
                                            <p><%=rows[index].Abstract%></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                    <%}%>
                    <div class="row justify-content-center">
                           
                                <ul class="pagination pagination-circle pg-color d-flex justify-content-center">
                                    <li class="page-item <% if(page[0].isActive){%>disabled<%}%>">
                                        <a class="page-link" href="/guest/search-result?page=<%= +p -1 %>&txtSearch=<%= value%>" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>

                                    <li class="page-item <%if (lenPage.begin == 0){%> disabled hidden <%}%> "><a class="page-link" 
                                    href="/guest/search-result?txtSearch=<%=value%>&page=<%=lenPage.begin%>">...</a></li>

                                    <% for (var i=lenPage.begin; i<=lenPage.end; i++){ %>
                                        <li class="page-item <% if (page[i].isActive){%> active <%}%>"><a class="page-link" 
                                        href="/guest/search-result?txtSearch=<%=value%>&page=<%=page[i].value + 1%>"><%=page[i].value + 1%></a></li>
                                    <% } %>

                                    <li class="page-item <%if (lenPage.end == page.length-1){%> disabled hidden <%}%>"><a class="page-link" 
                                    href="/guest/search-result?txtSearch=<%=value%>&page=<%=lenPage.begin%>">...</a></li>

                                    <li class="page-item <% if(page[page.length-1].isActive){%> disabled <%}%> ">
                                        <a class="page-link" href="/guest/search-result?txtSearch=<%=value%>&page=<%= +p + 1%>" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span> 
                                            <span class="sr-only">Next</span>
                                        </a>    
                                    </li>
                                </ul>
                                
                            </div>
                </div>
            </div>
        </div>
    </section>
       <%- include('../header-footer/footer.ejs')%>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>