<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TH16-News</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" href="/css/index-style.css">
    <!--footer nav header css-->
    <link rel="stylesheet" href="/css/footer-nav-headerCSS.css">
    <!--Owl Carousel-->
    <link rel="stylesheet" href="/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
</head>

<body>
    <% include header-footer/header.ejs %>
    <!-- ### Week High light ###-->
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8 pr-lg-1">
                    <article class="post">
                        <div class="hl-item feature-post" style="background-image: url(<%=three[0].ImageAbstract%>);">
                            <a href="/chitietbaiviet/<%=three[0].ID%>" class="post-link"></a>
                            <div class="post-content">
                                <a href="/guest/chuyen-de/<%=three[0].CatID%>" class="post-cata"><%=three[0].CatName%></a>
                                <a href="/Chitietbaiviet/<%=three[0].ID%>" class="post-title"><%=three[0].Title%></a>
                                <div class="post-meta">
                                    <i class="fas fa-clock"></i>
                                    <span><%=three[0].ReleaseDay%></span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 col-lg-4 pl-lg-1">
                    <article class="post">
                        <div class="hl-item sub-post" style="background-image: url(<%=three[1].ImageAbstract%>);">
                            <a href="/chitietbaiviet/<%=three[1].ID%>" class="post-link"></a>
                            <div class="post-content">
                                <a href="/guest/chuyen-de/<%=three[1].CatID%>" class="post-cata"><%=three[0].CatName%></a>
                                <a href="/Chitietbaiviet/<%=three[1].ID%>" class="post-title"><%=three[1].Title%></a>
                                <div class="post-meta">
                                    <i class="fas fa-clock"></i>
                                    <span><%=three[1].ReleaseDay%></span>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post">
                            <div class="hl-item sub-post" style="background-image: url(<%=three[2].ImageAbstract%>);">
                                <a href="/chitietbaiviet/<%=three[2].ID%>" class="post-link"></a>
                                <div class="post-content">
                                    <a href="/guest/chuyen-de/<%=three[2].CatID%>" class="post-cata"><%=three[2].CatName%></a>
                                    <a href="/Chitietbaiviet/<%=three[2].ID%>" class="post-title"><%=three[2].Title%></a>
                                    <div class="post-meta">
                                        <i class="fas fa-clock"></i>
                                        <span><%=three[2].ReleaseDay%></span>
                                    </div>
                                </div>
                            </div>
                    </article>
                </div>
            </div>
        </div>
    </section>

    <!-- ### Content ### -->
    <section class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="grid-box">
                        <div class="grid-header row">
                            <div class="col-6 grid-title">
                                <h2 id="grid-header"><i class="fas fa-crown"></i> Xem nhiều nhất</h2>
                            </div>
                            <div class="col-6 text-right grid-button">
                                <a href="javascript:;" role="button" class="slide-prev">
                                    <i class="fas fa-chevron-left"></i>
                                </a>
                                <span> </span>
                                <a href="javascript:;" role="button" class="slide-next">
                                    <i class="fas fa-chevron-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="owl-carousel" id="most-view">
                            <% for( var i = 0; i < mosts.length; i++) { %>
                                <div>
                                    <article class="post most-view-item">
                                        <div class="post-thumbnail">
                                            <a href="/chitietbaiviet/<%=mosts[i].ID%>">
                                                <%-mosts[i].ImageAbstract%>
                                            </a>
                                        </div>
                                        <div class="post-content">
                                            <a href="/guest/chuyen-de/<%=mosts[i].CatID%>" class="post-cata">
                                                <%=mosts[i].CatName%>
                                            </a>
                                            <a href="/Chitietbaiviet/<%=mosts[i].ID%>" class="post-title">
                                                <%=mosts[i].Title%>
                                            </a>
                                            <div class="post-meta">
                                                <i class="fas fa-clock"></i>
                                                <span><%=mosts[i].ReleaseDay%></span>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div>
                        <div id="new-article" class="row">
                            <div class="single-post col-12">
                                <div class="card">
                                    <div>
                                        <h2 class="section-title">Bài viết mới nhất</h2>
                                    </div>
                                </div>
                            </div>
                            <% for( let i = 0; i < news.length; i++ ) { %>
                                <!--single post-->
                                <div class="col-12 col-md-6">
                                    <div class="card single-post">
                                        <a href="/chitietbaiviet/<%=news[i].ID%>"><img src="<%=news[i].ImageAbstract%>" class="card-img-top" alt="<%=news[i].Title%>"></a>
                                        <div class="card-body">
                                            <a href="/guest/chuyen-de/<%=news[i].CatID%>" class="post-cata"><%=news[i].CatName%></a>
                                            <a href="/chitietbaiviet/<%=news[i].ID%>" class="post-title">
                                                <h5 class="card-title"><%=news[i].Title%></h5>
                                            </a>
                                            <p><i class="far fa-clock"></i> <%=news[i].ReleaseDay%></p>
                                            <p class="card-text"><%=news[i].Abstract%></p>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">

                    <% for( let i = 0; i < mosts.length; i++ ) { %>
                        <!--1 chuyen muc-->
                        <div class="cata-post col-md-12">
                            <div class="category">
                                <a href="/guest/chuyen-de/<%=mosts[i].CatID%>" class="post-cata"><i class="fas fa-bookmark"> <%=mosts[i].CatName%></i></a>
                                <hr>
                            </div>
                            <div class="post">
                                <div class="post-thumbnail">
                                    <a href="/chitietbaiviet/<%=mosts[i].ID%>"><%-mosts[i].ImageAbstract%></a>
                                </div>
                                <div class="post-abstract">
                                    <a href="/chitietbaiviet/<%=mosts[i].ID%>" class="post-title"><%=mosts[i].Title%></a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </section>

    <% include header-footer/footer.ejs%>
    <!--Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.mousewheel.js"></script>
    <script>
        var owl = $('.owl-carousel');
        $(document).ready(function () {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                rtl: true,
                loop: true,
                margin: 10,
                nav: true,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 2
                    },
                    1000: {
                        items: 3
                    }
                },
                // you can use jQuery selector
                navText: [$('.slide-next'), $('.slide-prev')]
            });
            owl.on('mousewheel', '.owl-stage', function (e) {
                if (e.deltaY > 0) {
                    owl.trigger('next.owl');
                } else {
                    owl.trigger('prev.owl');
                }
                e.preventDefault();
            });

            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });

            $(".js-user").click(function(){
                    var pop = $(".js-popover");
                    if(pop.hasClass("d-none")){
                        pop.removeClass("d-none");
                    }else{
                        pop.addClass("d-none");
                    }
            });
            $(".js-search").click(function(){
                $(".infinity-search").show();
            });

            $(".js-infinity-close").click(function(){
                $(".infinity-search").hide();
            });
        });
    </script>
</body>

</html>